*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family:Arial, Helvetica, sans-serif;
}

.home{
    
    width: 100%;
    height: 100vh;
}


.container{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.container h1{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    color: #FF850F;

}

.list{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.list-items{
    display: flex;
    justify-content: flex-start;
   
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.list-items span{
   
    background-color: transparent;
    color: #000;

}

.list-items span:first-child{
    width: 100px;
}

.id{
    width: 150px;
}
.list-items span:nth-child(2){
    width: 500px;
}



.default-names {
    font-weight: bold;
    background-color: #FF850F;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}


input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }


  .form button{
      color: #fff;
      background-color: #FF850F;
      width: 60px;
      height: 20px;
      border-radius: 5px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      border: none;
      transition: all 0.3s ease;
  }



  .page-numbers{
      display: flex;
      width: 400px;
      height: 40px;
      margin-right: auto;
      margin-left: auto;
      justify-content:space-around;
      align-items: flex-start;
      margin-top: 20px;
      padding-bottom: 50px;      
  }

  .page-numbers li {
      color: blue;
  }

  .page-numbers li:hover{
      cursor: pointer;
  }

  /* .active{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 22px;
      height: 22px;
      background-color:#FF850F ;
      border-radius: 50%;
  } */

  .btndelete{
      width: 60px;
      height: 20px;
      transform: translate(196px);
      background-color: red;
      border: none;
      outline: none;
      border-radius: 5px;
      color: #fff;
      transition: all 0.4s ease;
  }

  .btndelete:hover{
      border: 1px solid red;
      background-color: #fff;
      color: red;
  }

  .forbtn{
      display: flex;
      justify-content: space-between;
  }